body {
  background-color: #fff2fb;

}
h1{
  text-align: left;
  background: gray;
}
p {
/*  color: white;
*/  font-weight: bold;
    text-align:center;
    color: #069;
}

#contanier{
  text-align: center;
    width:862px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;

}
#img1{
  border-radius: 80%;
   max-width: 100%;
  height: auto;
  margin: 10px
  
}
#img2{
  border-radius: 50%;
   max-width: 100%;
  height: auto;
  
}
#img3{
  border-radius: 80%;
   max-width: 100%;
  height: auto;
  margin: 10px
  
}

#des{
  
  padding: 20px 10px;
  text-align: center;
    word-wrap: normal;
     text-indent: 100px;
     letter-spacing: 3px;
     font-size: 300%
    margin-bottom:100px;
    font-style: oblique

}
#but{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
background-color: gray; /* Green */
  border: none;
  color: white;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.8s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);



}
#pra1{
  text-align: center;
}


h2 {
  color: white;
  font-weight: bold;
    text-align:center;
    color: #069;
}
#about{
    padding: 20px 10px;
  text-align: center;
    background: gray
     text-indent: 100px;
     letter-spacing: 3px;
     font-size: 300%
    margin-bottom:100px;
    font-style: oblique
    margin-left: auto;
  margin-right: 20px;


}
#img5{
 max-width: 100%;
  height: auto;
  margin: 20px
}



#img5{
 max-width: 100%;
  height: auto;
  margin: 20px
}

#cat{
  list-style-type: none;
  margin: 0;
  padding-top:50px;
  width: 180px;
  background-color: #cde9f7;
}

#cat li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

#cat li a:hover {
  background-color: #555;
  color: white;
}

#cont {
 display: flex;
}

.left {
  flex: 30%;
}

.right {
  flex: 70%;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 50px;
}

.item {
  float: left;
  width: 30%;
  padding: 5px;
  padding-bottom: 37px;

 }

.itemImg {
  width: 150px;
  height: 150px;
}


.bton{
  background: black;
  border: none;
  color: white;
  width: 225px;
  position: relative;
  right: 37px;
  margin-top: 25px;
  font-weight:100;
  padding: 5px 15px;
  font-size: 12px;
}

 h4 {
  height: 15px;
  padding-left: 40px;
  font-weight:100;
  font-size: 16px;
   
 }

.itemText {
  margin-top: 40px;
  /*padding-left: 30px;*/
}

#loadmore {
  background: #cde9f7;
  border: none;
  color: #555;
  padding: 5px 15px;

}

.cart .badge {
  position: absolute;
  top: 1px;
  right: 30px;
  padding: 2px 5px;
  border-radius: 50%;
  background-color: #cde9f7;
  color: #555;
}

.cart {
  
  position: relative;
  display: inline-block;
}


#cartNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#cartNav.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  #cartNav {padding-top: 15px;}
}