/*body {
  background-color: #fff2fb;
}*/
/*.navbar-nav li a {
    color: white;
}*/
#cat{
  list-style-type: none;
  margin: 0;
  padding-top:50px;
  width: 200px;
  background-color: #cde9f7;
}

#cat li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#cat li a:hover {
  background-color: #555;
  color: white;
}

#cont {
 display: flex;
}

.left {
  flex: 30%;
}

.right {
  flex: 70%;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 50px;
}

.item {
  float: left;
  width: 30%;
  padding: 5px;
}

.itemImg {
  width: 200px;
  height: 200px;
}