#navbar {
  overflow: hidden;
  background-color:gray;
  display: flex;

}
#navbar a {

  color: #f2f2f2;
  
  padding: 30px 120px;
  text-decoration: none;
  font-size: 17px;


}
#navbar a:hover {
  background-color: #ddd;
  color: black;
   float: left;
}

#active {
 /* background-color: #4CAF50;*/
 text-align: center;
  color: white;
  flex: 35%
  margin-left:20px;
   float: left;


}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}*/
body{
  background-color: pink;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 50%;
}
h1{
	color: white;
	text-align: left;
  background: gray;
}
p {
	color: white;
	font-weight: bold;
    text-align:center;
    color: #069;
}
#contanier{
	text-align: center;
	padding: 0px 0px;
    word-wrap: normal;
    width:862px;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;

  
}
#acitve2{
	position: relative;
    top: 0;
    left: 0;
    transform: none;
}
#active3{
	 float: right;
}
#des{
	
	padding: 20px 10px;
	text-align: center;
    word-wrap: normal;
     text-indent: 100px;
     letter-spacing: 3px;
     font-size: 300%
    margin-bottom:100px;
    font-style: oblique

}
#but{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
background-color: gray; /* Green */
  border: none;
  color: white;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.8s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);



}
#pra1{
  text-align: center;
}
#img1{
  border-radius: 80%;
   max-width: 100%;
  height: auto;
  margin: 20px
  
}
#img2{
  border-radius: 50%;
   max-width: 100%;
  height: auto;
  
}
#img3{
  border-radius: 80%;
   max-width: 100%;
  height: auto;
  margin: 20px
  
}
h2 {
  color: white;
  font-weight: bold;
    text-align:center;
    color: #069;
}
#about{
    padding: 20px 10px;
  text-align: center;
    background: gray
     text-indent: 100px;
     letter-spacing: 3px;
     font-size: 300%
    margin-bottom:100px;
    font-style: oblique
    margin-left: auto;
  margin-right: 20px;


}
#img5{
 max-width: 100%;
  height: auto;
  margin: 20px
}
